html{
    scroll-behavior: smooth;
}
body{
    font-family: "Inter", sans-serif;
}
.header{
    display: flex;
    padding-top: 10px;
    background-color: #fff;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}

.about1:active,
.about1:hover,
.about1{
    margin: 0 46px 0 46px;
    text-decoration: none;
    color: black;
}
.button:active,
.button:hover{
  background-color: #000000;
  color: #ffffff;
}

.button{
    text-decoration: none;
    color: #fff;
    background-color: #00195e;
    border-radius: 50px;
    padding: 12px 15px 11px 14px;
    transition: 0.2s linear;
}
.screen_main_department{
    padding-left: 120px;
    padding-top: 60px;
    background-color: #798DAB;
    display: flex;
}
.text_screen1{
    margin-top: 61px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 20px;
    padding: 17px;
    font-size:  17px;
    width: 566px;
}
.screen_main_img
{
    padding: 60px 300px;
}
.screen_img{
    border-radius: 40px;
    height: 280px;
}
.header_text_services{
    font-size: 24px;
}
.header_text_services_p{
    display: flex;
    justify-content: center;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 40px;
    margin: 30px 800px 0 800px;
    height: 60px;
    align-items: center;
}
.main_cards{
    display: flex;
    justify-content: center;
    margin-top: 46px;
}
.card{
    background-color: rgb(255, 255, 255);
    padding: 6px 24px 6px 24px;
    width: 314px;
    height: 432px;
    border-radius: 20px;
    margin: 0 57px 0 57px;
    border: 2px solid #0044ff;

}
.main_text_card{
    font-size: 24px;
    font-weight: 700;
}
.und_text_card{
    font-size: 14px;
    font-weight: 400;
}
.screen_main_applicants{
    background-color:#798DAB;
}
.header_p{
    display: flex;
    justify-content: center;
}
.header_text_applicants_p{
    text-align: center;
    align-items: center;
    font-size: 24px;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 16px 0 16px 0 ;
    width: 400px;
    border: 2px solid #0044ff;
}

.cards_applicants{
    display: flex;
    justify-content: space-around;
}
.header_text_applicants_p1{
    text-align: center;
    align-items: center;
    font-size: 24px;
    background-color: #ffffff;
    border-radius: 40px;
    width: 556px;
    padding: 16px 0px 16px 0px;
    border: 2px solid #0044ff;

}

.card_applicants{
    margin-top: 29px;
    border-radius: 40px;
    height: 450px;
    width: 504px;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    padding: 17px 26px 53px 26px;
    border: 2px solid #0044ff;

}
.card_applicants_text_up{
    display: flex;
    justify-content: space-between;
}
.card_applicants_text_down{
    display: flex;
    justify-content: space-between;
    margin-top: -40px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: rgb(0, 0, 0);
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-bar {
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: rgb(0, 0, 0);
    transition: all 0.3s;
}

.menu {
    display: flex;
    list-style: none;
    color: #333;
}

.menu li {
    margin: 0 15px;
}

.about a {
    text-decoration: none;
    font-size: 18px;
    position: relative;
	cursor: pointer;
	line-height: 1;

}

.about a:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #0044ff;
	content: "";
	transition:  0.3s ease-out;
}
.about a:hover:after,
.about a:focus:after {
	width: 100%;
}

@media (max-width: 425px) {
        .nav {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 60px;
            right: 20px;
            width: 150px;
            border: 1px solid #444;
            border-radius: 5px;
        }

        .nav.active {
            display: flex;
        }

        .burger-menu {
            display: flex;
        }
    .header {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .header img {
        max-width: 100px;
    }

    .navbar {
        width: 100%;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .menu.active {
        display: flex;
        text-align: center;
        margin-right: 400px;
    }

    .about1 {
        display: block;
        margin: 15px;
    }

    .but .button {
        padding: 10px 15px;
        font-size: 14px;
    }
    .screen_main_department {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text_screen1 {
        font-size: 16px;
    }
    .screen_main_services {
        padding: 20px;
    }
    .header_text_applicants_p{
        text-align: center;
        width: 325px;
    }

    .main_cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .card {
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
    }

    .main_text_card {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .und_text_card {
        font-size: 14px;
    }
    .screen_main_applicants {
        padding: 20px;
    }

    .cards_applicants {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .card_applicants {
        padding: 15px;
        width: 325px;
        border-radius: 8px;
    }

    .card_applicants_header {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .card_applicants_text {
        font-size: 14px;
        padding: 20px;
    }

    .card_applicants_text_up, .card_applicants_text_down {
        display: flex;
        justify-content: space-between;
        margin-top: 1px;
    }
}

.header2{
    background-color:#D9D9D9;
    width: 400px;
    height: 60px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}
.header2 h1{
    font-size: 24px;
    text-align: center;
    font-weight: 400;

}
.teachers {
    display: flex;
    justify-content: center;
    grid-gap: 40px;
    padding: 20px;
    background-color: #ffffff;
    
    
}
.teacher {
    background-color: #ffffff;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  width: 270px;
  border: 2px solid #7297ff; 
}

.teacher img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.teacher h2{
    font-size: 24px;
    font-weight: bolder;
    text-align: left;
}
.teacher p{
    text-align: left;
    font-size: 24px;
    animation: 3s infinite alternate slidein;
}
.contacts {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #798DAB;
    justify-content: center;
  }
.contact-text1 {
    background-color: #ffffff;
    width: 400px;
    height: 90px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    border: 2px solid #000000;
    transition: 0.4s linear;
}
.contact-Header{
  font-size: 48px;
  font-weight: 400;
}
.contact-text1:hover {
  box-shadow: 0 0 0 6px #3C82F8;
  transition: 0.4s;
}

.contact-text1 p{
    font-size: 48px;
    
}

  .contact-info,
  .contact-form {
    padding: 20px;
    border-radius: 5px;
    margin-top: 60px;
  }

  .contact-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 150px;
  }
  .contact-item {
    text-align: center;
    background-color:#ffffff;
    border-radius: 20px;
    width:120px;
    height:184px;
    margin-top: 24px;
    padding-top: 15px;
    border: 1px solid #5C5C5C;
  }


  .contact-item i {
    font-size: 2em;
    color: #337ab7; 
    margin-bottom: 10px;
  }
  .contact-item p{
    font-size: 14px;
  }
.contact-img img{
    width: 300px;
    height: 300px;
    border-radius: 40px;
    margin-top: 75px;
    margin-left: 60px;
    transition: 0.2s linear;
}

.contact-img img:hover{
  box-shadow: 0 0 0 5px rgb(255, 255, 255), 0 0 0 10px #3C82F8;
  transition: 0.4s;
}

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

  .contact-form button{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 80px;
    width: 400px;
    height: 70px;
    box-sizing: border-box;
    font-size: 30px;
    margin-left: 70px;
    transition: 0.4s linear;
  }

    .contact-form button:hover {
      box-shadow: 0 0 0 3px rgb(255, 255, 255), 0 0 0 6px #3C82F8;
      transition: 0.4s;
    }
    .contact-form select:hover {
      box-shadow: 0 0 0 3px rgb(255, 255, 255), 0 0 0 6px #3C82F8;
      transition: 0.4s;
    }
    .contact-form textarea:hover {
      box-shadow: 0 0 0 3px rgb(255, 255, 255), 0 0 0 6px #3C82F8;
      transition: 0.4s;
    }
    .contact-form input:hover {
      box-shadow: 0 0 0 3px rgb(255, 255, 255), 0 0 0 6px #3C82F8;
      transition: 0.4s;
    }
  

  .contact-form select{
    padding: 10px;
    border: none;
    border-radius: 100px;
    width: 400px;
    height: 50px;
    box-sizing: border-box;
    font-size: 23px;
    text-align: center;
    margin-left: 70px;
    transition: 0.4s linear;
  }

    .contact-form input{
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    width: 160px;
    height: 40px;
    font-size: 23px;
    text-align: center;
    margin-left: 70px;
    transition: 0.4s linear;
    }
.contact-form textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    width: 400px;
    height: 80px;
    font-size: 15px;
    margin-left: 70px;
    transition: 0.4s linear;
}

  .contact-form textarea {
    height: 100px;
  }

  .image-placeholder {
    width: 100%;
    height: 150px;
    background-color: #808080;
    margin-bottom: 1em;
    border-radius: 5px;
  }

  footer {
    background-color: #ffffff; 
    padding: 10px 0;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
  }
  
  .footer-content {
    display: flex;
    gap: 70px;
    margin-left: 120px;
  }
  
  .logo img {
    width: 90px; 
    height: auto;
  }
  
  .fot-text1 {
    background-color: #5C5C5C;
    width: 251px;
    height: 30px;
    font-size: 20px;
    padding-top: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 20px;
  }
  .fot-text2 {
    background-color: #5C5C5C;
    width: 500px;
    height: 30px;
    font-size: 21px;
    padding-top: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-top: 10px;
  }
  .copyright {
    text-align: left;
  }
  
  .copyright p {
    margin: 0; 
  }
  
  .social-media {
    display: flex;
    gap: 10px;
    margin-right: 120px;
  }
  .logo_social{
   height: 43px;
  }
  .social-media a {
      display: flex;
      gap: 15px;
  }

  @media (max-width: 425px) {
  
    .teachers{
      display: grid;
      grid-template-columns: repeat(1, 3fr);
      width: 100%;
    }
    .teacher{
      width: 150px;
    }
    
    .contact-info{
      margin-right: 150px;
    }
    .contact-img{
    margin-left: 160px;
    max-width: 375px;
    }
    .contact-form{
    margin-left: 125px;
    width: 385px;

    } 
    .teacher h2,
    .teacher p{
    font-size: 15px;
  }
  .contact-form button{
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-form textarea{
    width: 300px;
    height: 80px;
  }
  .contact-form select {
    width: 300px;
    height: 50px;
    font-size: 23px;
  }
  .contact-form input{
    width: 140px;
    height: 40px;
    margin-right: -52px;
  }
  
  .fot-text2{
    width: 340px;
    height: 26px;
    font-size: 15px;
  }
  footer{
    width: 425px;
  }
  .fot-text1{
    width: 186px;
    height: 30px;
    font-size: 15px;
  }
  .footer-content{
    width: 100%;
  }
  .logo{
    padding-left: 540px;
    width: 20px;
    height: 20px;
  }
  .social-media{
    margin-right: 800px;
    width: 30px;
    height: 30px;
    margin-bottom: 40px;
  }
  .social-media img{
    width: 30px;
    height: 30px;
  }
    
  
}
@media (max-width: 768px) {
  .teachers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .teacher img{
    width: 150px;
    height: 150px;
    display: grid;
  }
  .contacts{
    width:100%;
  }
  .teacher{
    width: 150px;
  }
 
  .teacher h2,
  .teacher p{
    font-size: 15px;
  }
  .contacts{
    display:grid;
    grid-template-columns: repeat(1,1fr);
  }

}
@media (max-width: 375px) {
  .teachers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .teacher{
    width: 150px;
  }
  .contact-info{
  margin-right: 150px;
  }
  .contact-img{
    max-width: 375px;
  }
  .contact-form{
  margin-left: 125px;

  } 
  .teacher h2,
  .teacher p{
  font-size: 15px;
}
.contact-form button{
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-form textarea{
  width: 300px;
  height: 80px;
}
.contact-form select {
  width: 300px;
  height: 50px;
  font-size: 23px;
}
.contact-form input{
  width: 140px;
  height: 40px;
  margin-right: -52px;
}
.contacts{
  width: 100%;
}
.teachers{
  width: 100%;
}

.contact-group{
  gap: 10px;
}
.footer{
  max-width: 375px;
}
.footer-content{
  width: 100%;
}
}